
.idea/encodings.xml

.idea/vcs.xml

.idea/misc.xml

.idea/modules.xml

.idea/SMU-iCity-internship-analytics.iml

.idea/workspace.xml

Workspace/MNIST_data/t10k-images-idx3-ubyte.gz

Workspace/MNIST_data/t10k-labels-idx1-ubyte.gz

Workspace/MNIST_data/train-images-idx3-ubyte.gz

Workspace/MNIST_data/train-labels-idx1-ubyte.gz

Workspace/output-track
